p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
}

#details a:link,
#details a:visited {
  color: orchid;
  text-decoration: none;
}

#details a:hover {
  color: plum;
}
